*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/*HEADER*/
.header{
    background-color:rgba(0, 0, 0, 0.692) ;
    height: 55px;
    width: 100%;
    
}
.header h1{
    color:white;
    padding-top:5px;
    padding-left: 50px;
}



/*MAIN CONTENT*/
.card{
    background-color: rgba(141, 141, 141, 0.22);
    border: 1px solid grey;
    padding: 5px;
}


.specificLaptop{
    margin-top: 50px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.22); 
    box-shadow: 0px 0px 15px 5px rgba(0,0,0,0.22);
    border: 1px solid grey;
}

.hidden{
    display: none;
}

.success{
    
    border-radius: 10px;
}